* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

body{
    background-color:#f1faee;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.navbar{
    /* border: 1px solid red; */
    width: 100%;
    height: 10em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}
.logo{
    /* border: 1px solid black; */
    display: flex;
}
.navbar .logo img{
    height: 3em;
    transition: 2s;
    
}
.navbar .logo img:hover{
    transform: rotate(360deg);
}
.navbar .logo h2{
    padding-left: 15px ;
}
.nav_menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav_menu li{
    /* border: 1px solid black; */
    text-align: center;
    font-size: 1.1em;
    padding: 0.6em;
}
.info_conteiner {
    background-color: #a8dadc;
    padding: 55px 0;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;

}
.info .laptops{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.info .laptops img{
    width: 100%;
    max-width: 250px;
}
.conteiner_center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}
.test1 {
    background-color: white;
}

footer{
    background-color: #1D3557;
    width: 100%;
    text-align: center;
}
.footer a img{
    width: 100px;
}
.footer a p{
    color:white;
    margin: 5px auto 15px;
    text-align: center;
}


/* about site */

.hp_factory .hp_picture img{
    width: 100%;
    height: auto;
}
/* Se hace responsive la imagen seteando el width 100 y height auto. A medida que se achica el viewport la imagen se achica en escala */

/* About nuevo con flex */

.conteiner{
    background-color: white;
    /* color: white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    align-items: center;
}
.conteiner_2 {
    background-color: white;
    /* color: white; */
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    /* justify-content: center; */
    align-items: center;
}
.conteiner_2 .img1{
    order: 1;
}
.content1{
    background-color: #457B9D;
    color: white;
}
.img1 {
    text-align: center;
}
.img1 img{
    max-width: 50%;
    max-height: 200px;
    /* margin: 0 20px; */
}
.hp_factory{
    height: 100%;
}
.hp_picture{
    /* max-width: 1280px; */
    max-height: 640px;
}
.box_one{
    overflow: hidden;
}
/* ---------------------Contact------------------------- */

.text_contact {
    width: 100%;
    /* min-height: 95px; */
    background-color: #A8DADC;
    /* margin: 25px; */
    /* line-height: 150px; 
    vertical-align:middle; */
}
.contact_text, h2, p{
    line-height: 2em;
    text-align: center;
    /* padding: 35px 0; */
}
.contact_text p{
    font-size: 1.1em;
}
.float div{
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    padding: 50px;
    background-color: white;
}
.float input, select {
    display: block;
    margin: 0 auto;
    /* Input y select son elementos inline, para centrarlos los ponemos en block y margin 0 auto */
}
.float .box img{
    max-width: 100%;
    max-height: 100%;
}
/* Se va achicando a medida que se disminuye el viewport */


label, input, select{
    display: block;
}
label, select{
    margin-bottom: 15px;
}
.sub_button{
    width: 155px;
    height: 25px;
    background: #1D3557;
    color: white;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6em;
        margin: 0;
    }
    .nav_menu ul{
        flex-direction: row;
    }
    .info{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .laptops {
        width: 40%;
    }

/* About - flex nuevo */
    .conteiner {
        flex-direction: row;
        gap: 25px;
    }
    .img1{
        width: 34%;
    }
    .content1 {
        width: 65%;
    }
    .conteiner_2 {
        flex-direction: row;
        gap: 25px;
    }
    .conteiner_2 .img1{
        order: 0;
    }
    .hp_factory .hp_picture, img{
        overflow: hidden;
    }

    /* contact breakpoint */
    .contact_text, h2, p{
        text-align: start;
        padding: 8px 25px;
    }

    .float div{
        width: 50%;
        float: left;
        height: 20em;
    }
}