* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

body{
    background-color:#f1faee;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.navbar{
    /* border: 1px solid red; */
    width: 100%;
    height: 11em;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar .logo img{
    height: 3em;
    transition: 2s;
    
}
.navbar .logo img:hover{
    transform: rotate(360deg);
}
.navbar .logo h2{
    padding-left: 15px ;
}
.nav_menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav_menu li{
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em 1.1em;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: #a8dadc;
    padding: 1em 0em;

}
.info .laptops{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.info .laptops img{
    width: 40%;
}

footer{
    background-color: #f1faee;
    width: 100%;
    text-align: center;
}
.footer a img{
    width: 100px;
    margin-top: 15px;
}
.footer a p{
    color:black;
    margin: 5px auto 15px;
}


/* about site */

.hp_factory .hp_picture img{
    width: 100%;
    height: 33em;
}

/*---------------------------------- GRID about site---------------------------------- */

/* .container{
    border: 1pz solid black;
} */
.container div{
    /* border: 1px solid blue; */
    width: 100%;
    height: 200px;
}
.container .content1 p{
    padding: 65px;
}
.container .content2 p{
    padding: 45px;
}
.img1 img{
    width: 100%;
    height: 197px;
}
.img2 img{
    width: 100%;
    height: 197px;
}
.content1, .content2{
    background-color: #457b9d;
    color: white;
}


/* ---------------------Contact------------------------- */

.contact_text{
    text-align: center;
    width: 100%;
    height: 95px;
    background-color: #A8DADC;
    /* margin: 25px; */
    line-height: 50px; 
    vertical-align:middle;
}
/* .contact_text h2, p{
    margin: 10px;
} */
.contact_text p{
    font-size: 1.1em;
}
.float div{
    /* border: 1px solid red; */
    /* text-align: center; */
    width: 100%;
    padding: 50px;
    background-color: white;
}
.float .box img{
    max-width: 100%;
    max-height: 100%;
}
/* Se va achicando a medida que se disminuye el viewport */
label, input, select{
    display: block;
}
label, select{
    margin-bottom: 15px;
}
.sub_button{
    width: 155px;
    height: 25px;
    background: #1D3557;
    color: white;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6em;
        margin: 0;
    }
    .nav_menu ul{
        flex-direction: row;
    }
    .info{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* about grid breakpoint */
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        margin: 15px 25px;
        grid-template-areas: 
        "content1 content1 img1"
        "img2 content2 content2";
    }
    .content1{
        grid-area: content1;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .content2{
        grid-area: content2;
    }
    .container .content1 p{
        padding: 75px;
    }
    .container .content2 p{
        padding: 60px;
    }

    /* contact breakpoint */
    .float div{
        width: 50%;
        float: left;
        height: 20em;
    }
}